node_modules
dist
*.tsbuildinfo
.next
.env.local
.docusaurus
apps/docs/build

# Local tool configs
.claude/settings.local.json
.codex/
.zenflow/
**/.fsdev/data/*
packages/cli/.fsdev/data/*
/todos/*
examples/kitchen-sink/.fsdev/data/requests/req_1773430081090_57c5dd9fae3d9.json
